<!--   
<div class="header">
  <h1>Biała Mapa Klientów</h1>
</div> -->

  <!-- <agm-map [zoom] = "6.5" [latitude] ="lat" [longitude] ="lng">
  <ng-container *ngFor="let place of clientList">
    <agm-marker [latitude]="place.Latitude" [longitude]="place.Longitude" 
    [title] ="place.Name" [iconUrl] = getUrlMarker(place.Segment)>
  <agm-info-window>
    <b>Kod klienta:</b> {{place.Client_Id}}
    <p><b>Nazwa:</b> {{place.Name}}</p> 
    <p><b>Miasto:</b> {{place.City}}</p>
    <p><b>Powiat:</b> {{place.Powiat}}</p> 
    <p><b>Segment:</b> {{place.Segment}}</p> 
  </agm-info-window>
  </agm-marker>
  </ng-container>
</agm-map> -->


<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>