@import '~ngx-toastr/toastr.css';
agm-map{
    height: 620px;
    width: 85%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20%; 
}
/* 
.header{
    background-color: #801f2a;
    color: white;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;   
} */