agm-map{
    height: 520px;
    width: 85%;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 20%; 
    margin-bottom: 5px;
}

.Map_Description{
    color: white;
    font-size: 25px;
    display: block;
    text-align: center;
    width: 100%;
}