
<div class="Map_Description">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</div>

<div class="map">
<agm-map [zoom] = "6.5" [latitude] ="lat" [longitude] ="lng">
  <ng-container *ngFor="let place of clientList">
    <agm-marker [latitude]="place.Latitude" [longitude]="place.Longitude" 
    [title] ="place.Name" [iconUrl] = getUrlMarker(place.Segment)>
  <agm-info-window>
    <b>Kod klienta:</b> {{place.Client_Id}}
    <p><b>Nazwa:</b> {{place.Name}}</p> 
    <p><b>Miasto:</b> {{place.City}}</p>
    <p><b>Powiat:</b> {{place.Powiat}}</p> 
    <p><b>Segment:</b> {{place.Segment}}</p> 
  </agm-info-window>
  </agm-marker>
  </ng-container>
</agm-map>
</div>

