.footer{
    background-color: #801f2a;
    color: white;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;   
    /* margin-top: -200px; */
    clear: both;
    position: relative;

}